.header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 1.5625rem;
      margin-right: 1.5625rem;
      margin-top: 1.75rem;

      &__logo {
            width: 6rem;
      }

      & a {
            font-size: 0.625rem;
            padding: 0.25rem 1rem;
            color: $pink;
            border: 1px solid $pink;
            border-radius: 2rem;
      }
}
